@use "sass:color";

// Primary & secondary colors
$primary: #E6e9ef;  // Blue call sign
$secondary: #1F6AE1; // grey E6e9ef

// Background & text
$bg-light: #ffffff;
$text-color: #1a1a1a;
$heading-color: #2B2F36;

