@use "sass:color";

// Primary & secondary colors
$primary: #1F6AE1;  // Blue call sign
$secondary: #E6e9ef; // grey

// Background & text
$bg-light: #ffffff;
$text-color: #1a1a1a;
$heading-color: #2B2F36;

